
# ocaml ecosystem
_esy
_opam
_build

# Execution temp files
/logs
/*.log

# Generated graph files
/dot
/*.dot
/*.pdf
/*.log.json

# Custom build configuration files
/.local_*

# Dune creates its own .merlin files
.merlin

# Dune intermediates
/*.install

# Editor related
.vscode
*.code-workspace

# Binaries
*.exe
/ddpa_toploop
/test_generator
/test_dbmc
/dj
/dtest
/sato
/translator
/sandbox
/result
/stest
/dj

/jil
/partial

# Local results
profiling
benchmark/result

/land*.json
*.ansi

# local files (ignored by default)
/_notes
*.txt
vendor