# Eclipse config files
# The following because OcaIDE changes the path file regularly...
/.paths

# ocaml ecosystem
_esy
_opam
_build

# Execution temp files
/*.log

# Generated graph files
/*.dot
/*.pdf
/*.log.json

# Custom build configuration files
/.local_*

# Dune creates its own .merlin files
.merlin

# Dune intermediates
/*.install

# Makefile temporaries
/ddpa_toploop
/test_generator
/translator
/sandbox
