# if-then-else={compact|fit-or-vertical|keyword-first|k-r}
if-then-else = fit-or-vertical
# break-cases={fit|nested|toplevel|fit-or-vertical|all}
parse-docstrings = true
sequence-blank-line = preserve-one
# wrap-comments = true